*
    box-sizing: border-box;

body
    margin: 0
    font-family: sans-serif

button
    background-color: rgb(98, 133, 223)
    cursor: pointer
    color: white
    border-radius: 10px
    border: none
    box-shadow: 1px 1px 10px 0px #adadad

    &:hover
        opacity: 0.7

input
    padding: 15px
    border-radius: 2px
    border: 2px solid grey

select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    padding: 15px
    border-radius: 0
    border: 2px solid rgb(98, 133, 223)
    color: rgb(98, 133, 223)
    cursor: pointer

.button-outline
    background-color: transparent
    border: 2px solid grey
    color: grey
    box-shadow: none

.hidden
    display: none

.main-container
    display: grid
    grid-template-columns: 20% 60% 30%

.sidebar
    height: 100vh
    background-color: rgb(245, 245, 245)
    padding: 3%
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 20px 50px 20px 20px 20px 20px 50px 20px 50px 50px 50px
    grid-column-gap: 8px
    grid-row-gap: 15px

    .selected-assets-title
        grid-column: 1 / span 2
        align-self: center

    .selected-asset-one
        font-size: 15pt
        align-self: center
        justify-self: center

    .selected-asset-two
        font-size: 15pt
        align-self: center
        justify-self: center

    .your-portfolio
        grid-column: 1 / span 2
        align-self: center

    .grid-center
        align-self: center
        justify-self: center

    .money-management
        grid-column: 1 / span 2

    .actions
        grid-column: 1 / span 2
        align-self: center

    .sell
        background-color: rgb(223, 98, 98)

    select
        grid-column: 1 / span 2
        align-self: center

    input
        grid-column: 1 / span 2
        align-self: center

.trades
    height: 100vh
    background-color: rgb(224, 218, 218)
    padding: 3%
    display: grid
